.article {
  margin-bottom: 5rem;
}

.header {
  position: relative;
}

.logo {
  position: absolute;
  left: -120px;
  filter: grayscale(100%);
}

.logo img {
  border-radius: 50%;
}

.logo:hover {
  filter: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.description ul {
  list-style: circle;
}

.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  border-radius: 8px;
}
